.filter-box {
  display: flex;
  flex-direction: column;

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;

    .search-box {
      width: 30rem;
    }

    .filter-button, .add-new-button {
      margin: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-left: 1rem;
      }
    }
  } 

  &__detail {
    display: flex;
    height: 15rem;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: .5rem 0;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: .8rem;

    .sorting-items {
      margin-left: 2rem;

      &__select {
        width: 20rem;
        margin-left: .5rem;
      }
    }
    
    .multiple-change {
      margin-left: 2rem;
      &__select {
        width: 20rem;
        margin-left: .5rem;
      }
    }
  }
}

.custom-btn {
  margin-left: 1rem;
  // :hover {
  //   color: #58c965;
  //   border-color: #58c965 !important;
  // }
}

.active {
  background-color: #58c965;
  color: #fff !important;
  border: none;

  :hover {
    color: #fff;
  }
}