@import '../../../App.scss';

.options-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .custom-card {
    .ant-card-body{
      margin: 1rem 2rem;
    }

    .ant-card-head {
      margin: 0 1.5rem;
    }

    .push-box-intro {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      &__icon-wrapper {
        padding: .5rem;
        background: #d9d5f3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;

        &--icon {
          font-size: 2.2rem;
          font-weight: 600;
          margin: 0;
          color: $color-highlight;
        }
      }

      &__box {
        &--title {
          font-family: $lexend;
          font-size: 2rem;
          font-weight: 600;

          .tag {
            margin-left: 1.5rem;
          }
        }

        &--desc {
          color: #555;
          font-size: 1.4rem;
        }
      }
    }

    .auto-post-box {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;

      &__icon-wrapper {
        padding: .75rem;
        background: rgb(255, 240, 233);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;

        &--icon {
          color: rgb(255, 102, 31);
          font-size: 1.8rem;
          font-weight: 900;
        }
      }

      &__txt-wrapper {
        &--title {
          font-family: $lexend;
          font-size: 1.8rem;
          font-weight: 600;
        }

        &--desc {
          max-width: 55rem;
        }
      }
    }
  }

  .payment-card {

    .block-one, .block-two, .block-three, .block-four {
      font-family: $roboto;
      display: flex;
      justify-content: space-between;

      &__left, &__right {
        max-width: 20rem;
        display: flex;
        flex-direction: column;
      }

      &__right {
        text-align: right;
      }
    }

    .block-three {
      cursor: pointer;
    }
  }

  .ant-form-item-control-input-content {
    display: flex; 
    justify-content: center;
    align-items: center;

    .ant-segmented {
      background: #fcfcfc;

      .ant-segmented-item {
        border: 1px solid #ddd;
      }

      .ant-segmented-item-selected {
        border: 1.5px solid $color-highlight-lighter;
        box-shadow: rgba(182, 182, 182, 0.42) 0px 8px 20px;

        .ant-segmented-item-label {
          background-color: #f9f7ff;
        }
      }
    }
  }

  &__post-segmented {
    margin-top: 2rem;
    width: 90%;
    justify-self: center;

    .ant-segmented-group {
      display: flex;
      justify-content: space-around;
    }
  }

  .line {
    margin: 2rem 0;
  }
}