@import '../../../App.scss'; 

$image-primary-wrap-width: 65%;
$image-primary-wrap-max-height: 26rem;

@mixin img-styles {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.post-wrapper {
  font-family: "Lexend", sans-serif;
  width: 70%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 3rem;
  cursor: pointer;

  &__images {
    display: flex;
    position: relative;
    width: 100%;

    .image-primary-wrap {
      position: relative;
      width: $image-primary-wrap-width;
      max-height: $image-primary-wrap-max-height;
      overflow: hidden;

      img {
        @include img-styles;
      }
    }

    .images-group {
      position: relative;
      width: calc(100% - $image-primary-wrap-width);
      max-height: $image-primary-wrap-max-height;
      display: flex;
      flex-direction: column;

      &__secondary-wrap {
        position: relative;
        height: 50%;
        width: 100%;
        overflow: hidden;

        img {
          @include img-styles;
        }
      }

      &__smaller-group {
        height: 50%;
        width: 100%;
        display: flex;
        position: relative;

        &--image-wrap {
          position: relative;
          width: 50%;
          height: 100%;
          overflow: hidden;
          
          img {
            @include img-styles;
          }
        }
      }

    }
  }

  &__content {
    padding: 2rem;

    &--title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.45rem;
    }

    &--price {
      font-family: $roboto;
      color: $color-highlight;
      font-weight: 600;
      font-size: 1.7rem;
    }

    &--price-unit {
      font-family: $roboto;
      color: $color-highlight;
      font-weight: 600;
      font-size: 1.7rem;
      margin-right: 2rem;
      margin-left: .3rem;
    }

    &--area {
      color: $color-highlight;
      font-weight: 600;
      font-size: 1.7rem;
      margin-right: 2rem;
    }

    &--price-per-area-unit {
      color: $grey-text;
      margin-right: 2rem;
    }

    &--features {
      display: flex;
      align-items: center;
      color: $grey-text;
    }

    &--position {
      color: $grey-text;
    }

    &--description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: $grey-text;
    }
  }
}