.navigation {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20rem;
  background-color: #fff;
  flex: 1;
}

.custom-icon-nav {
  color: #666;
}

.custom-link-wrap {
  color: rgba(0, 0, 0, 0.88);
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-header {
  position: absolute;
  right: 18rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  float: left;
}

.avatar-header-custom {
  right: 5rem;
}

.logout {
  // margin-right: 4rem;
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  opacity: 0;
  transition: opacity .4s;
  -webkit-transition: opacity .6s;
}

.admin-custom-select {
  margin-right: 6rem;
  width: 60rem;
}