@import '../../../App.scss';

.pending-post-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1.5rem;

  &--title {
    font-size: 2.2rem;
    font-weight: 600;
    color: $main-content-title;
  }

  &--desc {
    margin-top: .5rem;
    color: rgba(0, 0, 0, 0.45);
  }
}

.properties-statistic-wrapper {
  width: 70%;
  background: #fff;
  border-radius: 1rem;
  padding: 2.5rem 3.5rem;
}