@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer");
@import "../node_modules//bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color-dark: #001529;
$color-highlight: #6259ca;
$color-highlight-two: #6259ca;
$color-error: #ff4d4f;

$main-content-title: #170c6b;
$main-content-bg:#eaedf7;

$fade-icon: #999;

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

// short hand
.h-100 {
  height: 100%;
}

.main-content-title {
  color: $main-content-title;
  font-size: 2.2rem;
  font-weight: 500;
}

// status button
.active-btn {
  background-color: #58c965;
  // :hover {
  //   background-color: #6cd178;
  // }
}

.inactive-btn {
  background-color: $color-error;
}

.small-btn {
  padding: .2rem .75rem;
  font-size: 1.3rem;
}

.detail-btn, .edit-btn {
  background-color: #F5F7FC;
  border: 1px solid $main-content-bg;
  &:hover {
    color: $color-highlight !important;
    border: 1px solid $color-highlight !important;
  }
}
