@import '../../../../App.scss';

.slick-wrapper {
  position: sticky;
  top: 6.35rem;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  padding: .5rem 0;

  .slick {
    width: 75%;
    margin-left: 3rem;
    .slick-arrow {
      &::before {
        color: $color-highlight !important;
      }
    }
  }
}